body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}
                        /*  Search options */
.bar {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

}

.search-options {
    display: flex;
    flex-direction: row;
}

input {
    padding: 5px 20px;
    border: 1px solid black;
    font-size: 14px;
}

button {
    border-radius: 5px;
    font-size: 14px;
}

.items-per-page {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
}

#items {
    margin-left: 20px;
    font-size: 14px;
}

button {
    margin-left: 20px;
}

                    /*  Photos */

#photos {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

#photos img {
    width: 200px;
    height: 200px;
}

                     /*  Lightbox */

#lightbox {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .850);
    display: none;
}

#lightbox.active {
   display: flex;
   justify-content: center;
   align-items: center; 
}

#lightbox img {
    width: 400px;
    height: 400px;
    background-color: black;
    border: 2px solid white;
    padding: 7px;
}

                /*  Footer */

footer {
    padding: 30px;
}

                /*  Media querries */

@media (max-width: 860px) {
    #photos {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }
}

@media (max-width: 650px) {
    #photos {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }

    .bar {
        flex-direction: column;
    }
    
    .items-per-page {
        margin: 0;
    }

    .search-options {
        margin-top: 10px;
    }

}